/*
   Inicio - remove as setas do compo int
*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*
   Fim - remove as setas do compo int
*/

div a {
    color: #000;
    text-decoration: none;
}

    div a:hover {
        color: #808080;
        text-decoration: none;
    }

td div {
    display: inline;
}